#map {
  width: 100%;
  height: 80vh;
  background-color: #86a7b7;
}

div.window-content {
  overflow: hidden;
  display: flex;
  max-width: 300px;
}

.location-thumbnail {
  flex: 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-thumbnail img {
  width: 100%;
}

.location-information {
  flex: 1 0;
  padding-left: 15px;
}
