{% extends 'base.html' %}

{% block title %}My Adventure List{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

<div class="page-header img-fluid">
    <img src="/static/img/page_header.png" alt="Adventure Spark Logo">
</div>

<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <ul class="navbar-nav mx-auto"> 		
        <div class="navbar-nav ml-auto action-buttons">
        <div class="nav-item">
            <a href="/home" class="nav-link mr-4">Home</a>
        </div>
        </div>
    </ul>
</nav>

<div class="container mt-4 mb-4">
    <div class="mt-4 mb-4" id="main-adventure-list">
        <h1>My list of adventures:</h1><a href ="/home"><button class="btn btn-primary btn-sm ml-3 px-3">Back to Map</button></a>
    </div>
    <h5 class="mb-4">Keep track of places you'd like to visit, and check them off your list when you have visited them.</h5>
    <div class="row">
        <div class="col-lg-7">
            <div class="card mt-4 mb-4">
                <div class="card-body">
                    <h3 class="card-title">Adventures I want to have:</h3>                
                    <div class="card-text">
                        {% for adventure, location in adventures %}
                        <ul id="adventure-list" class="list-group list-group-flush">
                            {% if adventure.adventure_id %}
                            
                            <label for="adventure-list-item" class="list-group-item">
                                <input id="visit-adventure" class="form-check-input adventure-list-item" type="checkbox" name="checkbox" onclick="visitedAdventure(this)" visit-adventure="{{ adventure.visited }}">
                                    <span>{{ location.location_name }}</span>
                                    <button class="btn btn-primary btn-sm ml-4 px-1" onclick="deleteAdventure(this)" data-adventure-id="{{ adventure.adventure_id }}">Remove Adventure</button>
                            </label>

                            {% endif %}

                        </ul>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="card mt-4 mb-4">
                <div class="card-body">
                    <h3 class="card-title">Adventures I've had:</h3>                
                    <div class="card-text">
                        {% for adventure, location in adventures %}
                        <ul id="adventure-list" class="list-group list-group-flush">
                            {% if adventure.visited == True %}
                            
                            <label for="adventure-list-item" class="list-group-item">
                                    <span>{{ location.location_name }}</span>
                                    <button class="btn btn-primary btn-sm ml-4 px-1" onclick="deleteAdventure(this)" data-adventure-id="{{ adventure.adventure_id }}">Remove Adventure</button>
                            </label>

                            {% endif %}

                        </ul>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/adventureList.js"></script>

{% endblock %}