{% extends 'base.html' %}

{% block title %}My Adventure List{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

<div class="page-header img-fluid">
    <img src="/static/img/page_header.png" alt="Adventure Spark Logo">
</div>

<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <ul class="navbar-nav mx-auto"> 		
        <div class="navbar-nav ml-auto action-buttons">
        <div class="nav-item">
            <a href="/home" class="nav-link mr-4">Home</a>
        </div>
        </div>
    </ul>
</nav>

<div class="container">
    <h1>My list of adventures:</h1>
    <h5>Keep track of places you'd like to visit, and check them off your list when you have visited them.</h5>
    <div class="row">
        <div class="col-lg-7">
            {% for adventure in adventures %}
            <ul id="adventure-list" class="list-group list-group-flush">
                {% if adventure.location_id %}
                
                <label for="adventure-list-item" class="list-group-item">
                    <input class="form-check-input me-1 adventure-list-item" type="checkbox" value="">
                        <span>{{ adventure.location_name }}</span>
                        <button class="btn btn-primary btn-sm px-3" onclick="deleteAdventure" data-adventure-id="{{ adventure.adventure_id }}">Remove Adventure</button>
                </label>

                {% endif %}

            </ul>

            {% endfor %}
        </div>
    </div>
</div>

<script src="/static/js/adventureList.js"></script>

{% endblock %}