{% extends 'base.html' %}

{% block title %}Adventure Spark{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

<!--Page Header-->

<div class="page-header img-fluid">
  <a href="/">
    <img src="/static/img/page_header.png" alt="Adventure Spark Logo">
  </a>
</div>

<!--Navigation bar-->
<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <ul class="navbar-nav mx-auto"> 		
    <div class="navbar-nav ml-auto action-buttons">

      {% if session.get('logged_in') != None %}
      
      <div class="nav-item">
        <a href="/adventure_list" class="nav-link mr-4">My Adventure List</a>
      </div>

      <div class="nav-item">
        <a href="/logout" class="btn btn-primary btn-sm">Log Out</a>
      </div>

      {% else %}

      <div class="nav-item dropdown">
        <a href="/login" data-toggle="dropdown" id="login" class="nav-link dropdown-toggle">Log In</a>
          <div class="dropdown-menu action-form">
          <form action="/login" method="POST">
            <div class="form-group">
              <input id="login-email" type="text" name="email" class="form-control" placeholder="Email" required="required">
            </div>
            <div class="form-group">
              <input id="login-password" type="password" name="password" class="form-control" placeholder="Password" required="required">
            </div>
              <input id="login-submit" type="submit" class="btn btn-primary btn-block" value="Login">
          </form>
          </div>
      </div>

      <div class="nav-item dropdown">
        <a href="/signup" data-toggle="dropdown" class="btn btn-primary dropdown-toggle mb-2">Sign Up</a>
          <div class="dropdown-menu action-form">
          <form action="/signup" method="post">
            <p class="hint-text">Fill in this form to create your account!</p>
            <div class="form-group">
              <input type="text" name="name" class="form-control" placeholder="Name" required="required">
            </div>
            <div class="form-group">
              <input type="text" name="email" class="form-control" placeholder="Email" required="required">
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control" placeholder="Password" required="required">
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Submit">
          </form>
          </div>
      </div>

      {% endif %}

    </div>
  </ul>
</nav>

{% if session['alert']['type'] != None %}
<div class="container">
  <div class="alert alert-{{ session['alert']['type'] }}" role="alert">
    {{ session['alert']['message'] }}
  </div>
</div>
{% endif %}

  

  <!--Map-->

  <div class="container">

    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="embed-responsive-16by9 mt-5">
          <h4 class="mb-3 text-center">Click on a map marker to start your adventure!</h4>
          <div class="embed-responsive-item" id="map"></div>
            <input id="pac-input" class="controls mt-2" type="text" placeholder="Quick Search"/>
        </div>
      </div>
  
<!--Youtube Videos-->

      <div class="col-lg-4 col-md-4 mt-5">
        <h4 id="videos-heading" class="mb-3 text-center">Videos about <span class="location-name">your adventure</span></h4>
        <div id="video0">
          <iframe src="https://www.youtube.com/embed/YQdGxFr5Ifo" style="width: 100%;"></iframe>
          <p>Top 10 Overlooked but Incredible Travel Destinations</p>
        </div>

        <div id="video1">
          <iframe src="https://www.youtube.com/embed/9lhAp5LmZm8" style="width: 100%;"></iframe>
          <p>Must See Travel Destinations - 25 Bucket List Places</p>
        </div>

        <div id="video2">
          <iframe src="https://www.youtube.com/embed/VoBBHAw4EuU" style="width: 100%;"></iframe>
          <p>25 Best Cities to Visit in Asia</p>
        </div>
      </div>

    </div>

  </div>

<!--Google Maps script and api key-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOk3yXP1PNSBExCoO6Vh0-o7mTUElZWAY&callback=initMap&libraries=places&v=weekly" async></script>

{% endblock %}