{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

<div class="page-header img-fluid">
    <img src="/static/img/page_header.png" alt="Adventure Spark Logo">
</div>

<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <ul class="navbar-nav mx-auto"> 		
        <div class="navbar-nav ml-auto action-buttons">
        <div class="nav-item">
            <a href="/home" class="nav-link mr-4">Home</a>
        </div>
        </div>
    </ul>
</nav>

<div class="container">
    <h4>Sign up or log in to start your adventure with Adventure Spark!</h4>
    <div class="row">        
        <div class="col-lg-4">
            <div class="form-group mt-4">
                <form action="/signup" method="post">
                    <p class="hint-text">Fill in this form to create your account</p>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="Email" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" required="required">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group mt-4">
                <form action="/login" method="POST">
                    <p class="hint-text">Sign in to add to your Adventure List</p>
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="Email" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" required="required">
                    </div>
                        <input type="submit" class="btn btn-primary" value="Login">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}