{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

<div class="page-header img-fluid">
    <img src="/static/img/page_header.png" alt="Adventure Spark Logo">
</div>

<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <ul class="navbar-nav mx-auto"> 		
        <div class="navbar-nav ml-auto action-buttons">
        <div class="nav-item">
            <a href="/home" class="nav-link mr-4">Home</a>
        </div>
        </div>
    </ul>
</nav>

<div class="container">
    <form method="post">
        <label for="name">Name</label>
        <input name="name" id="name" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Sign Up">
    </form>
</div>

{% endblock %}